[Unit]
Description=Build Check Statistics update (podman)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/podman run --rm --name bcs-update \
  -v /var/lib/build_check_statistics:/var/lib/build_check_statistics:Z \
  localhost/build-check-statistics update -s
ExecStart=/usr/bin/podman run --rm --name bcs-deploy \
  -v /var/lib/build_check_statistics:/var/lib/build_check_statistics:Z \
  localhost/build-check-statistics deploy
